/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background:#fff;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  webkit-font-smoothing:subpixel-antialiased;
  text-align: left;
  font-weight: 600;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, .4);
}

a {
  text-decoration: underline;
}

.chart {
  position: static;
  bottom: 20px;
  font-size: 16px;
  font-family: sans-serif;
  fill: #212121;
  background-color:transparent;
}

#chart-dataasets{
  position: static;
  bottom: 20px;
  font-size: 16px;
  font-family: sans-serif;
  fill: #212121;
  background-color:transparent;
}

#chart-views{
  position: static;
  bottom: 20px;
  font-size: 16px;
  font-family: sans-serif;
  fill: #212121;
  background-color:transparent;
}

#chart-accessed{
  position: static;
  bottom: 20px;
  font-size: 16px;
  font-family: sans-serif;
  fill: #212121;
  background-color:transparent;
}

.xaxis path,
.xaxis line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
.xaxis text {
  font-family: sans-serif;
  font-size: 14px;
  fill: white;
}

.yaxis path,
.yaxis line {
  fill: none;
  stroke: none;
}
.yaxis text {
  font-family: sans-serif;
  font-size: 14px;
  fill: white;
}

.area{
  fill: #002060;
  stroke-width: 0;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: white;
  stroke: white;
}

.focus text {
	font: 14px sans-serif;
  fill: white;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
  line-height: 23px;
}

a {
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

a:hover {
  color: #fff;
  border-bottom: #fff solid 1px;
}

table {
  font-size: inherit;
  font: 100%;
}

.page {
  clear: both;
}
.clear{
  clear:both;
}

li {
  list-style: none;
}

.row-fluid {
    max-width: 960px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.navbar .container {
  margin-left: 50px;
}

.navbar .brand {
  max-width: 60px;
}

.navbar a:hover{
  border-bottom: none;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #1b1b1b;
  border-color: #1b1b1b;
}

#loading{
  background-color: white;
/*background:#a6d5ef;*/
  background-size:cover;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  z-index:10000;
}

#loading img{
  display:block;
  margin: 250px auto;
}

#loading h1,
#loading p {
  text-align: center;
  color:#fff;
  text-shadow: none;
}

#loading h1 {
  font-size: 220px;
  margin: 90px auto 117px;
  font-weight: 600;
}

#loading p{
  text-transform:uppercase;
  font-size: 63px;
  font-weight: 300;
}

li.posts {
  border-bottom-style: solid;
  border-bottom-color: #aaa;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

h2 {
  text-align: left;
  font-size: 35px;
  margin-top: 80px;
  line-height: 50px;
}

h3 {
  font-size: 40px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 80px;
}

h3 span {
  font-size: 24px;
}

h4 {
  text-transform: uppercase;
  text-align: left;
  font-size: 24px;
  clear: both;
  margin-top: 50px;
}

h5 {
  text-align: left;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  line-height: 30px;
}

h6 {
  text-align: left;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
}

p {
  font-weight: 300;
  font-size: 17px;
  text-align: left;
}

input[type="text"] {
  border-radius: 0px;
}

.btn {
  border-radius: 0px;
  background: #C82A45;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-family: 'Arvo', 'Georgia', serif;
  margin-left: 5px;
}

.btn:hover {
  background: #b1263d;
  color: #fff;
  text-shadow: none;
}

/****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.line {
  border: white solid 2px;
  width: 200px;
  margin: 20px 0px;
}

.clear{
  clear:both;
}

.page ul{
  padding-bottom: 5px;

}

.page ul li{
  /*border-top-style: solid;*/
  /*border-color: #fff;*/
  /*border-width: 2px;*/
  padding: 5px 0px 5px 0px;
  font-size: 35px;
  padding: 15px 0px 15px 0px;
  margin-left: 60px;
  line-height: 50px;
}



/*Add space between supporter pics*/
.page img {
  margin-bottom: 30px;
}


/*BASIC POSTS*/
/*Basic setup of posts*/
.page.quote,
.page.story{
  overflow-x:hidden;
  position:relative;
  padding:300px 80px 100px;
  box-sizing: border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  padding-bottom:400px;
}

.page.story{
  position:relative;
  width:100%;
  height:auto;
  padding-top:10px;
  padding-left:400px;
  box-sizing: border-box;
  -moz-box-sizing:border-box; /* Firefox
  -webkit-box-sizing:border-box; /* Safari */
}

/*Story pages with no sidebar.*/
.page.story.nosidebar{
  padding:0px;
}

/*Styles H1 text on non-map posts*/
.page.quote h1,
.page.story h1 {
  text-align:left;
  color:#fff;
  font-size: 56px;
  list-style: none;
  line-height: 60px;
}

.page.quote h1 {
  margin-bottom: 0px;
}



/*MAP POSTS*/
/*H1 tags on non-map posts.*/
/*Make regular text black on the map. */
.page.map p {
  color: black;
  text-shadow: none;
  font-size: 20px;
  font-weight: 80;
}


/*Add extra space to top of map slides.*/
/*This allows the map to transition before the project name comes up.*/
.page.quote.map{
  padding-top:400px !important;
}

/*Font on MAP BUFFER posts.*/
/*These posts introduce projects and regions.*/
/*Make these titles black, and appear in the left 2/3rds of the map.*/
.page.quote.map h1,
.page.quote.map h2,
.page.quote.map h3{
  color: black;
  text-shadow: none;
  margin-left: 300px;
}


.page.quote.region h1 {
  font-size: 100px;
  font-weight: 600;
}


/*Font on MAP PROJECT posts.*/
/*The margin left makes sure the project copy doesn't crowd out the lines in the left 1/3rd of the screen.*/
.page.story.map h1,
.page.story.map h2,
.page.story.map h3 {
  color: black;
  text-shadow: none;
  margin-left: 60px;
}


/*List on ADDITIONAL PROJECTS page*/
.page.story.map ul{
  padding-bottom: 5px;
  border-width: 0;
}

.page.story.map ul li {
  color: black;
  text-shadow: none;
  font-size: 35px;
  padding: 15px 0px 15px 0px;
  margin-left: 60px;
  line-height: 50px;
}

/*Move the text on the INTRO POSTS over even more, to accomodated the subway map behind.*/
.page.story.map.intro h2 {
  margin-left: 140px;
}
.page.quote.map.textright h1{
  text-align: right;
}


/*Align image in BRT POST with project text.*/
.page.story.map img {
  margin-left: 60px;
}



/*NAVBAR STYLES*/
/*Make the navbar text bigger. Hacks the bootstrap styles.*/
.navbar-inverse a {
  font-size: 18px;
}


/*SIDE BAR STYLES*/
.sidebar{
  width:400px;
  position:fixed;
  left:0px;
  top:0px;
  bottom:0px;
}

.sidebartitle{
  width:400px;
  left:0px;
  position:absolute;
  top:50px;
}

.sidebartitle h1{
  font-size: 100px;
  color: #fff;
  margin: 30px 0px 0px 50px;
  text-align: left;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, .05);
}

.mapsidebar h1{
  font-size: 100px;
  color: #333;
  margin-bottom: 0px;
}

.sidebartitle h2{
  position:relative;
  left:-400px;
  margin-top:40px;
  text-transform: uppercase;
}

.sidebartitle.appear h2{
  left: 50px;
  color: black;
  text-shadow: none;
  transition: left 1s;
  -webkit-transition: left 1s;
}


/*PAGE BACKGROUND*/
.pagebg{
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  z-index:-10;
  display:none;
}
.pagebg.quote{
  z-index:-5;
}
.pagebg.appear{

}

.pagebg img{
  min-width:100%;
  min-height:100%;
}


/*STATIC BACKGROUND IMAGES - NON-MAP PROJECTS*/
.pagebg.downtownarial{
  background: url("../img/downtownarial.jpg") no-repeat;
  background-size:cover;
  background-position:right;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/downtownarial.jpg', sizingMethod='scale')";
}



.pagebg.transitmap1{
  background: url("../img/system_map_l.png") no-repeat;
  background-size: auto 100%;
  background-position: left bottom;
  background-position-x: -20px;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/system_map_l.png', sizingMethod='scale')";
}


.pagebg.transitmap2{
  background: url("../img/system_map_newlines.png") no-repeat;
  background-size: auto 100%;
  background-position: left bottom;
  background-position-x: -20px;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/system_map_newlines.png', sizingMethod='scale')";
}

.pagebg.lamap{
  background: url("../img/la-transit.jpg") no-repeat;
  background-size:cover;
  background-position:right;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/la-transit.jpg', sizingMethod='scale')";
}

.pagebg.lanight{
  background: url("../img/la.jpg") no-repeat;
  background-size:cover;
  background-position:right;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/la.jpg', sizingMethod='scale')";
}


.pagebg.cookbg{
  background: url("../img/cook_bg.png") no-repeat;
  background-size:cover;
  background-position:right;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/cook_bg.png', sizingMethod='scale')";
}

.pagebg.supportersbg{
  background: url("../img/supporters_bg.jpg") no-repeat;
  background-size:cover;
  background-position:right;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/supporters_bg.jpg', sizingMethod='scale')";
}

.pagebg.eltrain{
  background: url("../img/eltrain.jpg") no-repeat;
  background-size:cover;
  background-position:right;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/eltrain.jpg', sizingMethod='scale')";
}


/* MOBILE STYLES */
.mobile div {
  background-repeat: no-repeat !important;
  background-size: auto 100% !important;
}

.mobile .sharebutton {
  display: none;
}

.mobile .page {
  width: 100% !important;
  padding: 0;
  margin: 0;
}


/*Make H1 and H2 text smaller throughout site.*/
.mobile h1 {
  font-size: 35px !important;
  text-align: right;
  margin-left: 0;
}
.mobile h2 {
  font-size: 22px !important;
  text-align: right;
  margin-top: 0;
  margin-left: 10% !important;
}

/*Make BRT list smaller*/
/*Add a little padding under the list.. hacky.*/
.mobile .page.story.map ul {
  padding-bottom: 30px;
}
.mobile .page.story.map ul li {
  font-size: 15px;
}


/*Override margins, so H1 text doesn't get squeezed out.*/
/* Also makes region and project titles align right, so there's enough room for map.*/
/*Need to do this explictly, general H1 align right doesn't work.*/
.mobile .page.quote.map h1 {
  margin-left: 0px !important;
  text-align: right !important;
}

.mobile .page.quote.region h1 {
  margin-left: 0px !important;
}

/*Trying to reduce padding between posts on mobile. NOT WORKING RIGHT NOW.*/
/*.mobile .page.quote.map {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
*/}




/*STATIC BACKGROUND IMAGES - PROJECTS IN MOBILE*/

/*Background images for mobile version of site.*/
/*Jekyll posts can't refer to images directly, need to map classes to line pics.*/

/*CHICAGO LINES*/
/*For some reason the first image in this list doesn't show up on site. Making a sacrifical class so things just work. HACK*/
.mobile .sacrifialclass {
  background: url('../img/mobile/southlake1.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .lines {
  background: url('../img/mobile/lines.png');
  background-position: center;
  background-size: 100% auto !important;
}

.mobile .southlake {
  background: url('../img/mobile/southlake1.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .southlake2 {
  background: url('../img/mobile/southlake2.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .lime1 {
  background: url('../img/mobile/lime1.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .lime2 {
  background: url('../img/mobile/lime2.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .lime3 {
  background: url('../img/mobile/lime3.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .ashland1 {
  background: url('../img/mobile/ashland1.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .ashland2 {
  background: url('../img/mobile/ashland2.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .ashland3 {
  background: url('../img/mobile/ashland3.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .red1 {
  background: url('../img/mobile/red1.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .brown1 {
  background: url('../img/mobile/brown1.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .brown2 {
  background: url('../img/mobile/brown2.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .redrehab1 {
  background: url('../img/mobile/redrehab1.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .bluerehab1 {
  background: url('../img/mobile/bluerehab1.png');
  background-position: left;
  background-size: 100% auto !important;
}


/*GENERAL PAGES*/

.mobile .transitmap1 {
  background: url('../img/mobile/system_map_l.png')  no-repeat;
  background-position: center;
  background-size: 100% auto !important;
}

.mobile .transitmap2 {
  background: url('../img/mobile/system_map_newlines.png')  no-repeat;
  background-position: center;
  background-size: 100% auto !important;
}


.mobile .downtownarial{
  background: url("../img/mobile/downtownarial.jpg") no-repeat;
  background-position: center;
  background-size: 100% auto !important;
}


.mobile .lamap{
  background: url("../img/mobile/la-transit.jpg") no-repeat;
  background-position: center;
  background-size: 100% auto !important;
}

.mobile .lanight{
  background: url("../img/mobile/la.jpg") no-repeat;
  background-position: center;
  background-size: 100% auto !important;
}


.mobile .cookbg{
  background: url("../img/mobile/cook_bg.png") no-repeat;
  background-position: center;
  background-size: 100% auto !important;
}

.mobile .supportersbg{
  background: url("../img/mobile/supporters_bg.jpg") no-repeat;
  background-position: center;
  background-size: 100% auto !important;
}

.mobile .eltrain{
  background: url("../img/mobile/eltrain.jpg") no-repeat;
  background-position: center;
  background-size: 100% auto !important;
}



/*SOUTH SUBURBS*/
.mobile .south {
  background: url('../img/mobile/south.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .ses1 {
  background: url('../img/mobile/ses1.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .ses2 {
  background: url('../img/mobile/ses2.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .southart {
  background: url('../img/mobile/southart.png');
  background-position: left;
  background-size: 100% auto !important;
}

/*WEST SUBURBS*/
.mobile .west {
  background: url('../img/mobile/west.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .ace1 {
  background: url('../img/mobile/ace1.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .ace2 {
  background: url('../img/mobile/ace2.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .ace3 {
  background: url('../img/mobile/ace3.png');
  background-position: left;
  background-size: 100% auto !important;
}


.mobile .bluewest1 {
  background: url('../img/mobile/bluewest1.png');
  background-position: left;
  background-size: 100% auto !important;
}


.mobile .bluewest2 {
  background: url('../img/mobile/bluewest2.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .westart {
  background: url('../img/mobile/westart.png');
  background-position: left;
  background-size: 100% auto !important;
}

/*NORTH SUBURBS*/
.mobile .north {
  background: url('../img/mobile/north.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .bluenorth1 {
  background: url('../img/mobile/bluenorth1.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .bluenorth2 {
  background: url('../img/mobile/bluenorth2.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .bluenorth3 {
  background: url('../img/mobile/bluenorth3.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .purple1 {
  background: url('../img/mobile/purple1.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .purple2 {
  background: url('../img/mobile/purple2.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .yellow1 {
  background: url('../img/mobile/yellow1.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .yellow2 {
  background: url('../img/mobile/yellow2.png');
  background-position: left;
  background-size: 100% auto !important;
}

.mobile .northart {
  background: url('../img/mobile/northart.png');
  background-position: left;
  background-size: 100% auto !important;
}





/*OLD CFA STYLES*/

iframe {
  width: 100%;
  min-height: 200px;
}

.cityLeaders iframe {
  display: block;
  margin-top: 50px;
  min-height: 300px;
}

.quote .bigtext h1 {
  font-size: 73px;
  text-transform: uppercase;
}

.themes {
  margin: 0px 0px 0px;
}

.themes .span10 {
  margin-left: 10px;
}

.themes .headline {
  font-size: 50px;
  margin-top: 0px;
}

.bioleft {
  padding-right: 15px;
}

.bioright,
.apps .bioright {
  padding-left: 15px;
}

.bios {
  margin: 50px auto;
  float: left;
}

.bios h3,
.network .bios p {
  margin-top: -6px;
}

.bios h5 {
  margin-bottom: 15px;
}

.bios p {
  margin-top: 0px;
}

.bios.right .span6 {
padding-left: 20px;
}

.bios.right .span6.bioleft {
  padding-left: 0px;
  margin-left: 0px;
}

.bios .url {
  font-size: 19px;
  font-weight: bold;
  text-align: left;
}

.moreapps,
.captains {
  clear: both;
  float: left;
}

.moreapps h3 {
  margin-top: 1    0px;
}

.moreapps img {
  margin-top: 30px;
}

.market img {
  margin: 30px 0px;
  display: block;
}

.getinvolved {
  background: rgba(255, 255, 255, .75);
  padding: 60px 80px;
  max-width: 700px;
  color: #000;
  text-shadow: none;
  font-family: 'Arvo', 'Georgia', serif;
}

.getinvolved p:first-child:first-letter {
  float: left;
  font-size: 48px;
  line-height: 50px;
  padding-right: 8px;
  padding-left: 3px;
}

.getinvolved h1 {
  margin: 0px;
}

.getinvolved h4 {
  text-transform: none;
  margin-top: 19px;
  font-size: 22px;
}

.getinvolved h5 {
  font-size: 17px;
  margin-top: 13px;
}

.getinvolved p {
  font-size: 17px;
  line-height: 25px;
}

.getinvolved img {
  width: 40%;
  margin-top: 15px;
}

.getinvolved a {
  color: #000;
}

.getinvolved a:hover,
.companies a:hover {
  color: #C82A45;
  border-bottom: #C82A45 solid 1px;
}

.getinvolved span {
  font-weight: 700;
}

.getinvolved li {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 300;
}

.getinvolved form {
  background: rgba(255,255,255, .7);
  padding: 25px 40px;
  width: 500px;
  margin: 25px auto;
}

.getinvolved label {
  color: #000;
  margin-right: 10px;
}

.thanks h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0px auto 30px;
}

.thanks img {
  max-height: 60px;
  max-width: 242px;
  margin: 0 auto;
  display: block;
}

.cfa {
  margin-bottom: 200px;
}

.cfa p {
  font-size: 24px;
  line-height: 30px;
}

.fellowship{
  color:#333;
  position:relative; height:100%; width:100%;
}

#map{
  position:absolute; top:0; bottom:0; width:100%;
  background-color: #444;
  visibility: hidden;
}
#mapcontainer{
  position:absolute; top:0; bottom:0; width:100%;
}
.mapstage{
  height: 150px;
  margin-top: -150px;
  margin-bottom: 400px;
}

#map.apply{
  position:fixed !important;
}
.downarrow{
  position:fixed;
  bottom:30px;
  right:40px;
  opacity:1;
  z-index: 99;
}
.downarrow svg{
  height:100px;
  width:50px;
  cursor: pointer;
}

.zoomer{
  top:210px;
  left:50px;
}
.zoomin{
  left:50px;
}
.zoomout{
  top:239px;
}


.stats h4,
.page.story .stats h1 {
  text-align: center;
}

.stats h4 {
  border-bottom: 2px #fff solid;
  font-weight: 300;
  margin: 20px 40px 20px 0px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.page.story .stats h1 {
  font-size: 85px;
  margin: 0px 40px 20px 0px;
}

.companies {
  background-color: rgba(255,255,255, .75);
  color: #000;
  text-shadow: none;
  float: left;
  margin-top: 20px;
  height: 345px;
}

.companies img {
  width: 82%;
  padding: 0px 0px 0px 5em;
}

.companies .companyblurb {
  float:left;
  padding: 40px 60px 0 0;
  text-align: left;
}

.companies .companyblurb img {
  width: 40%;
  padding-top: 0px;
}

.companies h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
}

.companies p {
  font-size: 16px;
  line-height: 22px;
}

.companies a {
  color: #000;
}

.companies .contact {
  font-size: 16px;
}

.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
  padding-right: 10px;
}


.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.apps .carousel-control ,
.carousel-control {
  position: absolute;
  top: 50%;
  left: 10px;
  font-family: 'Helvetica Neue', sans-serif;
  background: none;
}

.carousel-control.right {
  right: 20px;
}

.apps .carousel-control.right {
  left: auto;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border-bottom: 3px solid #ffffff;
}

.carousel-indicators {
  bottom: -26px;
  top: inherit;
}

.carousel-indicators .active {
  background-color: #fff;
}

.tagline {
  font-style: italic;
  font-weight: 700;
}

img.progicons {
  width: 100%;
  margin-top: -7px;
}

.market img.progicons {
  margin: 0;
}

.community img {
  margin: 0;
  display: block;
}

.community h5.anchorage {
  margin-top: -12px;
}

.captains a:hover,
.fellowcard a:hover,
.moreapps a:hover,
.morefellows a:hover {
  border-bottom: none;
}

.popover {
  border-radius: 0px;
}

.popover-title,
.popover-content {
  color: #000;
  text-shadow: none;
}

.popover-title,
.popover-title {
  font-weight: 700;
  background: none;
  border: none;
  padding-bottom: 0px;
}

.sharebutton{
  position:fixed;
  bottom:10px;
  left:30px;
  z-index:100;
}

.sharebutton iframe{
  min-height: 62px !important;
}

.sharebutton #twitter-widget-0 {
  float: left !important;
  margin-left: 10px !important;
}

.sharebutton a{
  text-decoration:none;
}

@media(max-width: 1300px) {
  .stats h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 1200px) {

  .navbar .container {
    margin-left: 30px;
  }

  h4 {
    font-size: 20px;
  }

  .page.quote {
    padding-bottom: 300px;
  }

  .page.story {
    padding-left: 250px;
  }

  .page.quote h1, .page.story h1 {
    font-size: 46px;
    line-height: 50px;
  }

  .cfa p {
    font-size: 19px;
    line-height: 25px;
  }

  .sidebar{
    top:40px;
  }

  .sidebartitle{
    top:0px;
  }

  .fellowship .yeartitle {
    left: 30px;
  }

  .sidebartitle h1,
  .fellowship .yeartitle h1 {
    font-size: 60px;
  }

  .sidebartitle h1 {
    margin-left: 30px;
  }

  .sidebartitle h2,
  .fellowship .yeartitle h2 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
  }

  .sidebartitle.appear h2{
    left: 30px;
  }

  iframe {
    width: 100%;
  }

  .bios h5,
  .network .bios h5 {
    font-size: 17px;
  }

  #loading img {
    width: 300px;
    margin-top: 100px;
  }

  #loading h1 {
    font-size: 130px;
    margin: 50px auto 60px;
  }

  #loading p {
    font-size: 38px;
  }

  .companies {
    height: 369px;
  }

  .companies .companyblurb {
    padding: 20px 60px 0 30px;
  }

}

@media (max-width: 1070px) {
  .getinvolved form {
    width: 311px;
  }

  .stats h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .page.story .stats h1 {
    font-size: 60px;
  }
}

@media (max-width: 979px) {
  .financials p {
    line-height: 22px;
    margin: 5px 0;
  }

  .financials .programs p {
    line-height: 5px;
  }

  .financials br {
    line-height: 54px;
  }

  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: fixed;
  }
}



@media (max-width: 880px) {
  .getinvolved form {
    width: 200px;
    padding: 24px 39px 24px 20px;
  }

  .btn {
    margin: 6px 0 0;
  }
}

@media (max-width: 767px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
  .sidebar{
    display:none;
  }
  .page.story{
    padding-left:20px
  }
}
